<li class="<%=  self_or_other(message) %>">
  <span>
    <%= image_tag(message_interlocutor(message).avatar.url(:thumbnail), :class=> "img-thumbnail") if message_interlocutor(message).messages.last == message &&  message_interlocutor(message) != current_user %>
  </span>
  <div class="chatboxmessagecontent">
    <p><%= message.body %></p>
    <time datetime="<%= day_in_words_or_date(message.created_at) %>" title="<%= day_in_words_or_date(message.created_at) %>">
      <%= day_in_words_or_date(message.created_at) %>
    </time>
  </div>

</li>
