<div class="col-md-6">
	<% if user_signed_in? %>
		<%= render 'form'%>
	<% else %>
		<p>You are not Signed In , please 
		<%= link_to "Sign Up", new_user_registration_path %>
		or Sign In below to Post your Feed !</p>
		<%= render 'devise/sessions/form' %>
		<%= link_to "Forgot your password?", new_password_path(resource_name) %>
	<% end %>
</div>
<div class="col-md-6">
	<% @feeds.reverse.each do |f| %>
	<table class="table table-hover">
		<tr>
			<td>
				<p><%= image_tag(f.user.avatar.url, :class=> "img-circle", size: "40") %> 
				<strong><%= f.name.capitalize %></strong></p>
				<cite><%= f.text %></cite> 
				<h6><%= time_ago_in_words(f.updated_at)+" ago."%> </h6>
				<p>

					<%= link_to pluralize(f.comments.count, 'comment'), f, class: "btn btn-primary btn-xs" %>
					<%= link_to like_feed_path(f), method: :put, class: "btn btn-success btn-xs" do %>
						<%= f.get_upvotes.size %> 
						<i class="fa fa-thumbs-up fa-lg"></i>
					<% end %>
					<%= link_to unlike_feed_path(f), method: :put, class: "btn btn-danger btn-xs" do %>
						<%= f.get_downvotes.size %>
						<i class="fa fa-thumbs-down fa-lg"></i>
					<% end %>
				</p>
				<% if user_signed_in? %>
					<% if can? :update, f %>
							<%= link_to "Edit", edit_feed_path(f)%> 
					<% end %>
					<% if can? :destroy, f %>
							<%= link_to "Delete", f, method: :delete, data: {confirm: "Are you sure?"} %>
					<% end %>
				<% end %>
			</td>
		</tr>
	</table>
	<% end %>

</div>