<div class="col-md-6">
    <div>
      <%= link_to :back do  %>
          <i class="fa fa-long-arrow-left fa-2x"></i>
      <% end %>
    </div>
  <br>
  <div class="bs-component">
    <div class="alert alert-dismissible boxbackgroundcolor">
    <p>
      <%= image_tag(@feed.user.avatar.url, :class=> "img-circle", size: "60") %>
    </p>
    <p>
      <%= link_to @feed.user.username, users_show_path(@feed.user_id) %>
    </p>


    <p>
      <i class="fa fa-quote-left fa-fw"></i>
      <%= @feed.text %>
      <i class="fa fa-quote-right fa-fw"></i>
    </p>

    <h5>
      Created
      <%= time_ago_in_words(@feed.created_at)+" ago" %>
    </h5>

    <h6>
      Last Updated
      <%= time_ago_in_words(@feed.updated_at)+" ago" %>
    </h6>


      <hr class="margin5">

    <% if user_signed_in? %>
        <% if current_user.voted_up_for? @feed %>
            <%= link_to unvote_feed_path(@feed ), method: :put, class: "btn btn-success btn-xs" do %>
                <%= @feed.get_upvotes.size %>
                <i class="fa fa-thumbs-up fa-lg"></i>
            <% end %>
        <% else %>
            <%= link_to like_feed_path(@feed ), method: :put, class: "btn btn-success btn-xs" do %>
                <%= @feed.get_upvotes.size %>
                <i class="fa fa-thumbs-o-up fa-lg"></i>
            <% end %>
        <% end %>
        <% if current_user.voted_down_for? @feed   %>
            <%= link_to unvote_feed_path(@feed ), method: :put, class: "btn btn-warning btn-xs" do %>
                <%= @feed.get_downvotes.size %>
                <i class="fa fa-thumbs-down fa-lg"></i>
            <% end %>
        <% else %>
            <%= link_to unlike_feed_path(@feed ), method: :put, class: "btn btn-warning btn-xs" do %>
                <%= @feed.get_downvotes.size %>
                <i class="fa fa-thumbs-o-down fa-lg"></i>
            <% end %>
        <% end %>
    <% else %>
        <%= link_to like_feed_path(@feed), method: :put, class: "btn btn-success btn-xs" do %>
            <%= @feed.get_upvotes.size %>
            <i class="fa fa-thumbs-o-up fa-lg"></i>
        <% end %>
        <%= link_to unlike_feed_path(@feed), method: :put, class: "btn btn-warning btn-xs" do %>
            <%= @feed.get_downvotes.size %>
            <i class="fa fa-thumbs-o-down fa-lg"></i>
        <% end %>
    <% end %>
      <span class="pull-right">
          <% if user_signed_in? %>
              <% if can? :update, @feed %>
                  <button type="button" class="btn btn-xs" data-toggle="modal" data-target="#myupdatefeed_<%= @feed.id%>"><i class="fa fa-pencil-square-o">Edit</i></button>
                  <% end %>
                  <% if can? :destroy, @feed %>
                      <%= link_to @feed, method: :delete, data: {confirm: "Are you sure?"} do %>
                      <i class="fa fa-lg fa-trash-o"></i>
                  <% end %>
              <% end %>
          <% end %>
      </span>

    <% if @feed.get_downvotes.voters.any? %>
        <h6>Unliked By: <% @feed.get_downvotes.voters.reverse.each do |p| %><%= link_to(p.username, users_show_path(p.id)) %> <% end %></h6>
    <% end %>

    <% if @feed.get_upvotes.voters.any? %>
        <h6>Liked By: <% @feed.get_upvotes.voters.reverse.each do |p| %><%= link_to(p.username, users_show_path(p.id) ) %> <% end %></h6>
    <% end%>

    </div>
  </div>
    <p>Comments:</p>
    <div id="comment_container">
        <% if @feed.comments.any? %>
                <%= render @feed.comments.reverse %>
        <% else %>
            <p id="no-comment">No Comments on this Feed, Be the first one !</p>
        <% end %>
    </div>


</div>
<div class="col-md-6">
  <br>
  <br>
  <div class="fixed-element-right">
      <div class="bs-component">
        <div class="alert alert-dismissible boxbackgroundcolor">
        <% if user_signed_in? %>
            <%= render 'comments/form' %>
        <% else %>
            <p>To Post Comment, Please Sign In !
            <%= render 'devise/sessions/form' %>
            <%= link_to "Forgot your password?", new_password_path(resource_name) %>
            </p>
              <p>
                <%= link_to "Sign Up", new_user_registration_path %>
            </p>
        <% end %>
      </div>
    </div>
  </div>

</div>


