<h1>Donate</h1>
<p>Help Us Grow , Donate!</p>
<%= form_tag('/stripe_checkout',{method: :post}) do %>
    <%= text_field_tag :amount, params[:amount] , placeholder: "$10", :id => 'amount' , :pattern => '^[1-99]*$' %>
    <script class="stripe-button" data-amount=params[:amount] data-currency="USD" data-email=params[:email] data-key="<%= Rails.configuration.stripe[:publishable_key] %>" src="https://checkout.stripe.com/checkout.js"></script>
<% end %>
<%= form_tag('/pay_with_paypal',{method: :post}) do %>
    <%= text_field_tag :amount, params[:amount] , placeholder: "$10", :id => 'amount' , :pattern => '^[1-99]*$' %>
    <%= submit_tag "Donate via PayPal" , class: "btn btn-primary btn-sm",id: "pay_by_paypal" %>
<% end %>