<div class="bs-component" id="comment_<%=comment.id%>">
  <div class="alert alert-dismissible boxbackgroundcolor">
    <button class="close" data-dismiss="alert" type="button">×</button>
    <% image_tag(comment.user.avatar.url, :class=> "img-circle", size: "40") %> <%= link_to comment.commenter, users_show_path(comment.user_id) %>: <cite> <%= comment.body %></cite>
    <h6><%= time_ago_in_words(comment.created_at)+" ago" %>
      <hr class="margin5">
      <% if user_signed_in? %>
          <% if can? :destroy, comment %>
              <p>
                <%= link_to [comment.feed, comment], method: :delete, remote: true, data: {confirm: "Are you sure?"} do %>
                  <i class="fa fa-lg fa-trash-o"></i>
              <% end %>
              </p>
          <% end %>
      <% end %>
    </h6>
  </div>
</div>