<% if user_signed_in? %>
	<%= form_for([@feed, @feed.comments.build],remote: true, :html => {:required => true}) do |f| %>

		<p>
		<%= f.hidden_field :feed_id %>
		<%= f.label :Comment %>
		<%= f.text_field :body,:class=> "form-control comment_content",:required => "required",:placeholder=> "Keep within 1 to 200 letters !", :maxlength=>"200"  %>
		</p>
		<%= f.submit " Post Comment !", class: "btn btn-primary btn-xs"%>

	<% end %>
<% else %>
  <p>You are not Signed In, Please
  <l><%= link_to "Sign up", new_user_registration_path %> or <%= link_to "Sign In", new_user_session_path %></li>
  to Post your comment ! </p>
<% end %>