<% if user_signed_in? %>
	<%= form_for([@feed, @feed.comments.build],remote: true, :html => {:required => true}) do |f| %>

		<p>
            <%= f.hidden_field :feed_id %>
            <%= f.text_field :body,:class=> "form-control comment_content",:required => "required",:placeholder=> "Keep within 1 to 200 letters !", :maxlength=>"200"  %>
            <span class="pull-right"><%= f.submit " Post Comment !", class: "btn btn-xs"%></span>
        </p>
	<% end %>
<% else %>
  <p>You are not Signed In, Please
  <li><%= link_to "Sign up", new_user_registration_path %> or <%= link_to "Sign In", new_user_session_path %></li>
  to Post your comment ! </p>
<% end %>